@model object;
@using Newtonsoft.Json;
@{
    dynamic data = JsonConvert.DeserializeObject<object>(JsonConvert.SerializeObject(Model));
    List<DebtVM> debts = JsonConvert.DeserializeObject<List<DebtVM>>(JsonConvert.SerializeObject(data["debt"]));
    Agreement agreement = JsonConvert.DeserializeObject<Agreement>(JsonConvert.SerializeObject(data["agreement"]));
    decimal contPred = 0;
    decimal contLim = 0;

    DateTime d = DateTime.Now;
    DateTime date = d.AddMonths(2);
    var fechaLimite = (date.Day < 10 ? "0" + date.Day.ToString() : date.Day.ToString()) + "/" + (date.Month < 10 ? "0" + date.Month.ToString() : date.Month.ToString()) + "/" + date.Year.ToString();

    string situacionSocial = "";
    if (agreement.agreementDiscounts.Count() == 0)
    {
        situacionSocial = "NINGUNO";
    }
    else
    {
        situacionSocial = agreement.agreementDiscounts.Where(x => x.isActive == true).First().discount.Name;
    }

}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div style="margin-left: auto;
        margin-right: auto;
        /*width: 700px;*/
        font-size: 16px;
        font-family: 'Montserrat';
        background: white;
        /*padding: 22px;
        margin-bottom: 40px;*/
">

    <div style="margin-bottom: 150px;"></div>

    <div style="
        margin-left: 57px;
        margin-right: 33px;
        margin-bottom: 0;">

        <div style="width: 100%; margin-bottom: 7px; margin-top: 7px;">
            <div style="width: 100%; display: inline-block; margin-top: 0px; padding-left: 7px; ">

                <div style="width: 80%; display: inline-block; ">
                </div>

                <div style="width: 19%; display: inline-block; ">
                    <p style="display: inline-block; margin-bottom: 0px;">Cue   nta: @agreement.account</p><br />
                    <p style="display: inline-block; margin-top: 4px;">Fecha Límite: @fechaLimite</p>
                </div>

            </div>
        </div>

        <div style="width: 100%; margin-bottom: 7px; margin-top: 7px;">
            <div style="width: 100%; display: inline-block; margin-top: 0px; padding-left: 7px; ">

                <div style="width: 50%; display: inline-block; ">
                    <p style="display: inline-block; margin-bottom: 0px;">NOMBRE: @agreement.clients[0].Name @agreement.clients[0].LastName @agreement.clients[0].SecondLastName</p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">DIRECCIÓN: @agreement.addresses[0].Street, @agreement.addresses[0].Outdoor @agreement.addresses.First().suburbs.Name</p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">SITUACIÓN SOCIAL: @situacionSocial</p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">TIPO PREDIO: @agreement.typeIntake.Name</p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">TERRENO: @agreement.agreementDetails.First().Ground</p><br />
                </div>

                <div style="width: 49%; display: inline-block; ">
                    <p style="display: inline-block; margin-bottom: 0px;"></p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;"></p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;"></p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">CONSTRUCCIÓN: @agreement.agreementDetails.First().Built</p><br />
                    <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">BASE GRAVABLE: @agreement.agreementDetails.First().TaxableBase</p><br />
                </div>

            </div>
        </div>
    </div>

    <div style="margin-bottom: 150px;"></div>

    <div style=" margin-right: 0px; margin-bottom: 0; height: 140px;">
        <div style="width: 100%; margin-bottom: 7px; margin-top: 7px;">
            <div style="width: 100%; display: inline-block; margin-top: 0px;">

                <div style="width: 50%; display: inline-block;">
                    <table style="float: left; margin-left: 45px;">
                        <tbody @*style="font-size: 9px;"*@>
                            @foreach (var debt in debts)
                            {
                                if (debt.Type == "TIP01")
                                {
                                    <tr>
                                        <td style="padding-right: 35px;">@debt.Year</td>
                                        <td style="padding-right: 32px;">@debt.Amount</td>
                                        <td style="padding-right: 35px;">$0.00</td>
                                        <td style="padding-right: 30px;">$0.00</td>
                                        <td>@debt.Amount</td>
                                    </tr>
                                    contPred = contPred + debt.Amount;
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <div style="width: 49%; display: inline-block;">
                    <table style="float: right; margin-right: 25px">
                        <tbody @*style="font-size: 9px;"*@>
                            @foreach (var debt in debts)
                            {
                                if (debt.Type == "TIP04")
                                {
                                    <tr>
                                        <td style="padding-right: 35px;">@debt.Year</td>
                                        <td style="padding-right: 32px;">@debt.Amount</td>
                                        <td style="padding-right: 35px;">$0.00</td>
                                        <td style="padding-right: 30px;">$0.00</td>
                                        <td>@debt.Amount</td>
                                    </tr>
                                    contLim = contLim + @debt.Amount;
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 0px; margin-bottom: 0;">
        <div style="width: 100%; margin-bottom: 7px; margin-top: 7px;">
            <div style="width: 100%; display: inline-block; margin-top: 0px; padding-left: 7px; ">

                <div style="width: 50%; display: inline-block;">
                    <p style="text-align: center;"><b>Total a pagar (PREDIAL):</b> $@contPred</p>
                </div>

                <div style="width: 49%; display: inline-block;">
                    <p style="text-align: center;"><b>Total a pagar (LIMPIA):</b> $@contLim</p>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-bottom: 400px;"></div>

    <div style="margin-left: 20px; margin-right: 0px; margin-bottom: 0; height:100px;">
        <div style="width: 100%; margin-bottom: 7px; margin-top: 7px;">
            <div style="width: 100%; display: inline-block; margin-top: 0px; padding-left: 7px; ">

                <div style="width: 50%; display: inline-block; ">
                    <div style="margin-left: 61px;">
                        <p style="display: inline-block; margin-bottom: 0px;">SUBTOTAL:</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">DESC. PRONTO PAGO: $0.00</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">PROM. RECARGOS: $0.00</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">TOTAL (PREDIAL): $@contPred</p><br />
                    </div>
                </div>

                <div style="width: 49%; display: inline-block; ">
                    <div style="margin-left: 86px;">
                        <p style="display: inline-block; margin-bottom: 0px;">SUBTOTAL:</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">DESC. PRONTO PAGO: $0.00</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">PROM. RECARGOS: $0.00</p><br />
                        <p style="display: inline-block; margin-bottom: 0px; margin-top: 4px;">TOTAL (LIMPIA): $@contLim</p><br />
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

